.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.active-link
{
    font-weight: bold;
}

.navbar-nav .nav-link.active-link{
    color: var(--white);
    font-weight: bold;
}

.navbar-nav .nav-link{
    color: var(--secondary-color);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 25px;
}

.navbar {
    transition: background-color 0.5s ease;
  }
  
  .navbar.scrolled {
    background-color: #080707;
  }